<nav class="navbar navbar-expand-sm bg-dark">
    <div class="container-md">
      <a class="navbar-brand" href="#">Sport X</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/index']" routerLinkActive="router-link-active"  aria-current="page" href="#">
              <img src="../../../assets/images/loop.png" alt="loop">
              Ver
            </a>
        </li>
        <li class="nav-item ms-4">
            <a class="nav-link" [routerLink]="['/store']" routerLinkActive="router-link-active" >
              <img src="../../../assets/images/form.png" alt="loop">
              Nuevo pqr
            </a>
          </li>
        </ul>
      </div>
    </div>
</nav>